<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <title>Portfolio Evaluator</title>

</head>
<body>
<div class="container">

    <h1>Stock Portfolio Evaluator</h1>

    <input
        type="text"
        id="search"
        placeholder="Search Stock..."
        onkeyup="searchStock()"
    >

    <form action="/evaluate" method="POST">

        <div class="stock-list" id="stockList">

            {% for name, details in data.items() %}

            <label class="stock-item">

                <div class="stock-name">

                    {{ name }}

                </div>

                <div class="stock-select">
                    <input type="checkbox" name="stocks" id="stock-{{ loop.index }}" value="{{ name }}">
                </div>

            </label>
            {% endfor %}
        </div>
        <button type="submit">Evaluate</button>
    </form>
</div>

<script src="{{ url_for('static', filename=('js/index-script.js')) }}"></script>

</body>
</html>